@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: Poppin;
    src: url("../public/fonts/Poppins.ttf");
}

@font-face {
    font-family: FiraCode;
    src: url("../public/fonts/FiraCode.ttf");
}

@font-face {
    font-family: Cario;
    src: url("../public/fonts/Cairo-Light.ttf");
}



:root{
    --dark1:#0c0c0c8c;
    --bg3: #25262a;

    --slate-50: #f8fafc;
    --slate-100: #f1f5f9;
    --slate-200: #e2e8f0;
    --slate-300: #cbd5e1;
    --slate-400: #94a3b8;
    --slate-500: #64748b;
    --slate-600: #475569;
    --slate-700: #334155;
    --slate-800: #1e293b;
    --slate-900: #0f172a;

    --blue1: #3e64ff;
    --gr3: rgb(100, 244, 172, .7);
    --bluebg:#3e64ff1a;
    --grnbg2:#15eb80;
    --grnbg3:rgb(3, 252, 128, .4);
    --white2:#ccc;
    --white3:rgb(129, 129, 129);
    --red1:#ff0000;
    --red2:rgb(255, 0, 0, .4);

    --poppin: Poppin;
    --firacode: Firacode;
    --cario: Cario;
}

html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}

ul{
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

li{
    list-style-type: none;
}

body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: var(--poppin);
    color: var(--slate-900);
    background: #fff;
}


.navbar .right ul a:hover > .mail{
    opacity: 1;
}

.navbar .right ul a .mail{
    padding: 8px;
    font-size: 30px;
    background: var(--slate-100);
    color: var(--blue1);
    border-radius: 50%;
    opacity: .7;
}

.mobileNav{
    width: 100vw;
    height: auto;
    padding:0px;
    margin: 0px auto;
    position: fixed;
    left: 0px;
    bottom: -100%;
    transition: bottom 0.5s ease;
    background: var(--slate-50);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    overflow: hidden;
}

.mobileNav.active {
    bottom: 0px;}


.mobileNav .main{
    width: 100%;
    height: 70px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

.mobileNav .main .li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition:all .2s ease;
    padding: 10px;
    cursor: pointer;
    margin-bottom: -15px;
}


.mobileNav .main li .icon{
    font-size: 20px;
    transition:all .2s ease;
}

.mobileNav .main .li label{
    font-size: 12px;
    font-weight: 300;
    transition:all .3s ease;
    transform: translateY(100px);
}


.mobileNav .main .li:hover > label{
    display: flex;
    transition:all .3s ease;
    transform: translateY(-2px);
    color: var(--blue1);
}

.mobileNav .main .li:hover > .icon{
    color: var(--blue1);
    transition:all .2s ease;
}

/* when nav is active */

.mobileNav .main .active{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition:all .2s ease;
    padding: 10px;
    cursor: pointer;
    position: relative;
    gap: 5px;
}

.mobileNav .main .active > label{
    font-size: 12px;
    font-weight: 300;
    transition:all .3s ease;
    transform: translateY(-2px);
    color: var(--blue1);
}
.mobileNav .main .active > .icon{
    color: var(--blue1);
    transition:all .2s ease;
}
.mobileNav .main li.active::after{
    content: "";
    position: absolute;
    left: 50%;
    top: 8px;
    transform: translateX(-50%);
    width: 26px;
    height: 26px;
    background: #edf0ff;
    border-radius: 50%;
    z-index: -1;
}


@media(max-width:700px){
    .navbar .left{
        /* display: none; */
    }
}


.intro .main{
    width: 50%;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.intro .mainArea{
    width: 300px;
    height: 300px;
    background: var(--slate-50);
    border-radius: 50%;
    padding: 15vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.intro .mainArea .avatar{
    width: 45vmax;
}

.intro .main .circleA{
    width: 250px;
    height:250px;
    /* border: 2px solid var(--grnbg2); */
    padding: 20px;
    position: absolute;
    top: 10px;
    border-radius: 50%;
}

.intro .circleA .langImgA{
    width: 8vmin;
    padding: 12px;
    position: absolute;
    top: -35px;
    right: -25px;
    background: var(--slate-100);
    border-radius: 50%;
    box-shadow: 0px 0px 15px var(--slate-300);
    z-index: 100;
    animation: cylceA 10s linear infinite;
    transition: all .2s ease;
}


.intro .circleB{
    width: 250px;
    height:250px;
    /* border: 2px solid green; */
    padding: 20px;
    position: absolute;
    /* top: 10px;
    right: 0px; */
    margin:0px auto;
    border-radius: 50%;
}   


.intro .circleB .langImgB{
    width: 15vmin;
    padding: 15px;
    position: absolute;
    left: -90px;
    bottom: -90px;
    background: var(--slate-100);
    border-radius: 50%;
    box-shadow: 0px 0px 15px var(--slate-300);
    z-index: 100;
    animation: cylceB 10s linear infinite;
    transition: all .2s ease;
}



.intro .circleC{
    width: 250px;
    height:250px;
    /* border: 2px solid var(--red1); */
    padding: 20px;
    position: absolute;
    /* top: -20px;
    left: 0px; */
    margin: 0px auto;
    border-radius: 50%;
}

.intro .circleC .langImgC{
    width: 11vmin;
    padding: 15px;
    position: absolute;
    left: 15px;
    bottom: -125px;
    background: var(--slate-100);
    border-radius: 50%;
    box-shadow: 0px 0px 15px var(--slate-300);
    z-index: 100;
    animation: cylceC 10s linear infinite;
    transition: all .2s ease;
}

.intro .langImgA:hover{
    filter: grayscale(0%);
}

.intro .langImgB:hover{
    filter: grayscale(0%);
}

.intro .langImgC:hover{ 
    filter: grayscale(0%);
} 

.break-keep {word-break: keep-all;}


@media(max-width: 700px) {
    .intro .main{
        display: none;
    }
}
